<!DOCTYPE html>
<html>
<head>
  <title>TravelPosts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
 <![endif]-->

 <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>


</head>
<body>
	<div class="navbar  navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Travel Posts</a>
    <ul class="nav">
      <li class="active"><a href="#">All Post</a></li>
      <li><a href="#">Add a Post</a></li>
      <li><a href="#"  class="pull-right">Login</a></li>
      <li><a href="#"  class="pull-right">Signup</a></li>
    </ul>
  </div>
</div>

<%= yield %>

</body>
</html>
